@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100%;
}

.MuiPaginationItem-root {
    color: gold !important
}

.appcontent {
    height: 100%;
}

.fallback {
    height: 100vh;
}


/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

/* background of the scrollbar except button or resizer */

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display: none;
}